- content_for :header_tags do
  = javascript_pack_tag 'public', crossorigin: 'anonymous'

- content_for :content do
  .container-alt-auth
    .form-container
      = render 'flashes'
      = yield
= render template: 'layouts/application'
